<div class="jumbotron">
  <h2 class="display-3">Brighten Your Day with Gifs!</h2>
  <p class="lead">Access hundreds of thousands of gifs, from adorable cats to awkward turtles.</p>
  <hr class="my-4">
  <p>Come across a gif you really like? Users can now favorite gifs that make them laugh, cry, and cringe.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="users/new" role="button">Sign Up Today</a>
  </p>
  <p>Aready a user? <%= link_to 'Click here', login_path %> to login.</p>
</div>
