<h1>View all the Gifs!</h1>

<% @grouped_gifs.each do |category, gifs| %>
    <h2><%= category %></h2>
    <% gifs.each do |gif| %>
    <div class="gif-#{gif.id}">
      <%= image_tag(gif.image_path) %>
      <%= link_to 'Favorite', user_gifs_path(current_user.id, :gif_id => gif.id), method: :post, class: "favorite-#{gif.id}" if current_user.gifs.include?(gif) == false %>
      <%= link_to 'Unfavorite', user_gif_path(current_user, gif), method: :delete, class: "unfavorite-#{gif.id}" if current_user.gifs.include?(gif)%>
    <% end %>
    </div>
<% end %>
