<h1>Generate Gifs</h1>

<%= form_for [:admin, @gif] do |f| %>
  <div class="field">
    <%= f.label :search_term, "Search" %>
    <%= f.text_field :search_term %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
